.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.item-count button,
.agregar-al-carrito {
  background-color: #a38b3b;
  border: 0;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid violet;
  transition: -2s;
}

.item-count button:hover,
.agregar-al-carrito:hover {
  background-color: white;
  color: black;
}

.agregar-al-carrito {
  width: auto;
  height: auto;
  margin-top: 1rem;
}

.img-detail {
  width: 20rem;
}

/* FORMULARIO */

.formulario {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}

.formulario input {
  padding: 0.5rem;
  width: 18rem;
  border-radius: 0.5rem;
  border: 2px solid black;
}

.formulario input:focus {
  outline: 0;
  border: 2px solid black;
  outline: 2px solid black;
}

.enviar:hover {
  background-color: white;
  color: black;
}
